{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2"
        href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}spring-boot/introduction/"
        role="button">{{ i18n "get-started" }}</a>
      <p class="meta"> <a href="https://github.com/social-sporte/social-sporte-api">GitHub v{{ $data := getJSON
          "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Spring Boot</h2>
        <p>Framework JAVA que oferece facilidade no desenvolvimento de APIS Rest HTTP, na comunicação com a base dedados
          e na integração com sistemas parceiros.</p>

      </div>
      <div class="col-lg-5">
        <h2 class="h4">Swagger</h2>
        <p><a href="https://social-sport-api.herokuapp.com/swagger-ui.html">Documentação técnica</a> da API contendo os
          dados dos contratos de comunicação com as aplicações front-end.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Base de dados</h2>
        <p>Banco de dados PostgresSQL para armazenar e gerenciar os dados de segurança, centro esportivos, atletas e
          configurações de sistema.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Segurança</h2>
        <p>Utiliza Spring Security para gerar token JWT, os dados de usuários e senha criptografada são salvos na base
          postgresSQL.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Repositório de imagens</h2>
        <p>Para armazenar imagens o Social Sport Api integra com o Firebase Storage, gerenciando o acesso as imagens.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Integrações</h2>
        <p>Envio de email utilizandoo a biblioteca JavaMailSender do Spring Boot, O envio de SMS utiliza o serviço
          externo <a href="https://www.smsdev.com.br/"> smsdev </a>, Receber pagamento online <a href="https://docs.pagar.me/"> Pagarme </a>.
      </div>
    </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}